[submodule "Satoshi/vendor/spdlog"]
	path = Satoshi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Satoshi/vendor/json"]
	path = Satoshi/vendor/json
	url = https://github.com/nlohmann/json
[submodule "Satoshi/vendor/GLFW"]
	path = Satoshi/vendor/GLFW
	url = https://github.com/mises-games/glfw.git
[submodule "Satoshi/vendor/GLAD"]
	path = Satoshi/vendor/GLAD
	url = https://github.com/mises-games/glad.git
[submodule "Satoshi/vendor/ImGui"]
	path = Satoshi/vendor/ImGui
	url = https://github.com/mises-games/ImGui.git
[submodule "Satoshi/vendor/DirectXMath"]
	path = Satoshi/vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "Satoshi/vendor/glm"]
	path = Satoshi/vendor/glm
	url = https://github.com/g-truc/glm.git
