[submodule "Satoshi/vendor/spdlog"]
	path = Satoshi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Satoshi/vendor/json"]
	path = Satoshi/vendor/json
	url = https://github.com/nlohmann/json
